<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> dbf9fb2 (Prima pagina completata)
@import "tailwindcss";

/* Nasconde la barra di scorrimento per Chrome, Safari e Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Nasconde la barra di scorrimento per IE, Edge e Firefox */
.scrollbar-hide {
<<<<<<< HEAD
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
<<<<<<< HEAD
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> e6ea500 (Mary: Inizializzato frontend e creata Navbar)
=======
}
>>>>>>> dbf9fb2 (Prima pagina completata)
=======
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
>>>>>>> 20ac6ca (Mary: Inizializzato frontend e creata Navbar)
