<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> dbf9fb2 (Prima pagina completata)
=======
>>>>>>> b1813d6 (Mary: Navbar colorata e funzionante con Tailwind)
=======
>>>>>>> fe9f415 (Prima pagina completata)
=======
>>>>>>> 0ff4481 (Mary: Inizializzato frontend e creata Navbar)
@import "tailwindcss";

=======
@import "tailwindcss";
>>>>>>> fdbac5e (Prima pagina completata)
/* Nasconde la barra di scorrimento per Chrome, Safari e Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Nasconde la barra di scorrimento per IE, Edge e Firefox */
.scrollbar-hide {
<<<<<<< HEAD
<<<<<<< HEAD
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
<<<<<<< HEAD
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> e6ea500 (Mary: Inizializzato frontend e creata Navbar)
=======
}
>>>>>>> dbf9fb2 (Prima pagina completata)
=======
=======
>>>>>>> fe9f415 (Prima pagina completata)
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
<<<<<<< HEAD
>>>>>>> 20ac6ca (Mary: Inizializzato frontend e creata Navbar)
=======
=======
@import "tailwindcss";
>>>>>>> 4e5926e (Mary: Navbar colorata e funzionante con Tailwind)
<<<<<<< HEAD
>>>>>>> b1813d6 (Mary: Navbar colorata e funzionante con Tailwind)
=======
=======
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
>>>>>>> fdbac5e (Prima pagina completata)
<<<<<<< HEAD
>>>>>>> fe9f415 (Prima pagina completata)
=======
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> e979906 (Mary: Inizializzato frontend e creata Navbar)
>>>>>>> 0ff4481 (Mary: Inizializzato frontend e creata Navbar)
